{% extends 'base.html' %}

{% block title %}My Bids{% endblock %}

{% block content %}
	<div class="albums-container container-fluid">
    <div class="row">
        {% if bid_list %}
            {% for bid in bid_list %}
                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <a href="{% url 'item-detail' bid.item.id %}">
                            <img src="{{ bid.item.item_image.url }}" class="img-responsive" style="width: 350px;height: 200px;">
                        </a>
                        <div>
                            <h2>{{ bid.item }}</h2>
                            <h4>My bid-{{bid.bid_amount}}</h4>
                            <h4>{% if bid.item.get_time_left %}Current Bid-{{bid.item.get_current_bid}}{% else %}Bid Closed{% endif %}</h4>
                            <a href="{% url 'update-bid' bid.pk %}" class="btn btn-info btn-sm" role="button">Update</a>
                            <a href="{% url 'delete-bid' bid.pk %}" class="btn btn-danger btn-sm" role="button"><span class="glyphicon glyphicon-trash"></span></a>
                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        {% else %}
            <div class="col-sm-12">
                <br>
                No bids right now.
            </div>
        {% endif %}
    </div>
   </div>
{% endblock %}